@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        This is a ToDo List style web application using Razor Pages
        <br />
        It is my first endeavour in using the lastest dotnet framework
        <br />
        <a href='@Url.Content("~/MikhailAnthonyGovenderCV2021.docx")'>Grab my CV while you're here!</a>
    </p>
</div>